<!DOCTYPE html>

<% include admin-header %>   
 <% if (message.length>0) { %>
        <div class="alert alert-success"><%= message %></div>
    <% } %>
          <div class="row-fluid">
            <div id="dashboard-left" class="span8">
             <div class="panel panel-primary"> 

                <div class="panel-body">
  					        <form id="LoginForm" role="form" class="form-horizontal" autocomplete="off"  method="post">
                    <!-- Id da Plataforma -->
                    <input type="hidden" value="<%= personagem.id %>" name="id" />

                    <!-- Nome do Personagem -->
                    <p>
                      <label for="titulo">Nome do Personagem</label>
                      <input type="text" class="input-block-level" id="nome_personagem" name="nome_personagem" placeholder="Digite o nome do personagem" required="required" value="<%= personagem.nome_personagem %>"/>
                    </p>
                    <!-- Fim do nome do Personagem -->

                    <!-- Data de Nascimento -->
                    <p>
                       <label>Data de Nascimento</label>
                       <input type="text" name="data_nascimento" id="data_nascimento" maxlength="10" placeholder="Exemplo 01/01/2014" onkeypress="return dateMask(this, event);" value="<% var d = new Date(personagem.data_nascimento); 
                        %><%= ('0' + d.getDate()).slice(-2) + '/' + ('0' + (d.getMonth()+1)).slice(-2) + '/'  + d.getFullYear() %>"/>
                    </p>
                    <!-- Fim Data de Nascimento -->

                    <!-- Primeira aparição do personagem -->
                    <p>
                       <label>Primeiro jogo em que apareceu</label>
                       <input type="text" class="form-control" id="primeirojogo_personagem" name="primeirojogo_personagem" placeholder="Digite o nome do jogo" value="<%= personagem.primeirojogo_personagem %>"/> em <input type="text" class="input-small" id="anoprimjogo_personagem" name="anoprimjogo_personagem" placeholder="2014" maxlength="4" value="<%= personagem.anoprimjogo_personagem %>"/>
                    </p>
                    <!-- Fim  Primeira aparição do personagem -->

                    <!--  genero do personagem-->
                     <p>
                        <label>Gênero</label>
                          <select name="genero_personagem" id="genero_personagem" required="required">
                             <option value="<%= personagem.genero_personagem %>"><%= personagem.genero_personagem %></option>
                             <option value="Masculino">Masculino</option>
                             <option value="Feminino">Feminino</option>           
                             <option value="Outros">Outros</option>
                                                                    
                          </select> 
                     </p>
                        <!--  Fim do genero -->

                      <!-- Criado por -->
                      <p>
                        <label>Criado por</label>
                        <input type="text" class="form-control" id="criador_personagem" name="criador_personagem" placeholder="Nome do criador" value="<%= personagem.criador_personagem %>"/>
                     </p>
                     <!-- Fim do criado por -->

                      <!-- País de origem -->
                      <p>
                        <label>País de origem</label>
                        <input type="text" class="form-control" id="origem_personagem" name="origem_personagem" placeholder="Nome do país" value="<%= personagem.origem_personagem %>" />
                     </p>
                     <!-- Fim país de origem -->

                      <!-- Planeta de origem -->
                      <p>
                        <label>Nascido no planeta</label>
                        <input type="text" class="form-control" id="planeta_personagem" name="planeta_personagem" placeholder="Nome do país" value="<%= personagem.planeta_personagem %>"  />
                     </p>
                     <!-- Planeta de origem-->

                      <!-- Espécie -->
                      <p>
                        <label>Espécie</label>
                        <input type="text" class="form-control" id="especie_personagem" name="especie_personagem" placeholder="Nome da espécie"  value="<%= personagem.especie_personagem %>" />
                     </p>
                     <!-- Fim da espécie -->  

                     <!-- Profissão Personagem-->
                      <p>
                        <label>Profissão</label>
                        <input type="text" class="form-control" id="profissao_personagem" name="profissao_personagem" placeholder="Nome da profissão" value="<%= personagem.profissao_personagem %>"   />
                     </p>
                     <!-- Fim da Profissão Personagem-->                  

                    <!-- Editor de texto da descrição do jogo-->
                    <p>
                      <label><h4 class="widgettitle">Cadastre um conteúdo de descrição para o personagem</h4></label>                    
                      <textarea  class="ckeditor" name="editor1" id="editor1"><%= personagem.descricao_personagem %></textarea>                    
                    </p>
                    <!-- Fim do  Editor de texto da descrição do jogo-->

                    <!-- Fonte das informações -->
                    <p>
                     <label><h4 class="widgettitle">Caso sua descrição seja conteúdo de terceiros preencha os campos a seguir</h4></label>
                        <label>Nome da fonte de origem do conteúdo</label>
                        <% if (typeof personagem.nome_fonte !== 'undefined'){ %>
                          <% if ( (personagem.nome_fonte !== 'undefined') && (personagem.nome_fonte !== ' ') ){ %> 
                          <input type="text" class="input-block" id="nome_fonte" name="nome_fonte" placeholder="Nome da Fonte" value="<%= personagem.nome_fonte %>"/> 
                        <%}%>
                        <%} else{ %>
                          <input type="text" class="input-block" id="nome_fonte" name="nome_fonte" placeholder="Nome da Fonte" value=""/>
                        <%}%>
                        
                        <label>Insira o endereço de acesso original do conteúdo</label>
                        <% if (typeof personagem.url_fonte !== 'undefined'){ %>
                          <% if ( (personagem.url_fonte !== 'undefined') && (personagem.url_fonte !== ' ') ){ %>
                          <input type="text" class="input-block-level" id="url_fonte" name="url_fonte" placeholder="URL de destino do conteúdo" value="<%= personagem.url_fonte %>" />
                        <%}%>
                        <%} else{ %>
                          <input type="text" class="input-block-level" id="url_fonte" name="url_fonte" placeholder="URL de destino do conteúdo" value="" />
                        <%}%>  
                    </p>
                        <!-- Fim das informações -->

                    <!-- Botão de Publicar jogo-->
                      <p>
                        <center><button id="SubmitBtn" name="SubmitBtn" type="submit" class="btn btn-large btn-inverse">Editar Personagem</button></center>
                      </p>   
                    <!-- Fim do Botão de Publicar jogo-->
                  </form>
						    </div>
						 </div>         
            </div>
        </div>
                <!-- Place inside the <head> of your HTML -->


    <script src="/editor/ckeditor.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="//connect.facebook.net/pt_BR/all.js"></script>
    <script type="text/javascript">
    	$(document).ready(function () {
    var nome_plataforma = $("#nome_plataforma");
    var tipo_plataforma = $("#tipo_plataforma");
    var LoginForm = $('#LoginForm');
    var SubmitBtn = $('#SubmitBtn');
 
    LoginForm.validate();
 
    nome_plataforma.rules("add", {
      required: true,
      messages: {
        required: "Nome da plataforma é obrigatório."
      }
    });
 
    $('#LoginForm').submit(function () {
      if ($(this).valid()) {
        $('#SubmitBtn').prop('disabled', true);
        return true;
      }
      return false;
    });
 
  });

	jQuery(document).ready(function(){
		
		jQuery('.taglist .close').click(function(){
			jQuery(this).parent().remove();
			return false;
		});
		
	});
</script>


<% include admin-footer %>    


