<!DOCTYPE html>

<% include admin-header %>   
 <% if (message.length>0) { %>
        <div class="alert alert-success"><%= message %></div>
    <% } %>
          <div class="row-fluid">
            <div id="dashboard-left" class="span8">
             <div class="panel panel-primary"> 
                <div class="panel-body">
  					       <form id="LoginForm" role="form" class="form-horizontal" autocomplete="off"  method="post">
                   
                    <!-- Id da Plataforma -->
                    <input type="hidden" value="<%= jogo.id %>" name="id" />

                    <!-- Nome do jogo -->
                    <label>Nome do jogo</label>
                    <input type="text" class="input-block-level" id="nome_jogo" name="nome_jogo" placeholder="Digite o nome do jogo" required="required" value="<%= jogo.nome_jogo %>" />
                    <!-- Fim Nome do jogo -->

                    <!-- Data de Lançamento -->
                   <label>Data de lançamento</label>
                   <input type="text" name="data_lancamento" id="data_lancamento" maxlength="10" placeholder="Exemplo 01/01/2014" onkeypress="return dateMask(this, event);" value="<% var d = new Date(jogo.data_lancamento); 
                    %><%= ('0' + d.getDate()).slice(-2) + '/' + ('0' + (d.getMonth()+1)).slice(-2) + '/'  + d.getFullYear() %>"/>
                    <!-- Fim Data de Lançamento -->


                    <!-- Empresa Responsavel -->
                    <label>Desenvolvedores</label>
                    <input type="text" data-role="tagsinput" id="desenvolvedor" name="desenvolvedor" placeholder="Desenvolvido por" required="required" value="<%= jogo.desenvolvedor %>"/>
                    <!-- Fim da Empresa Responsavel -->

                    <!-- Editora Responsavel -->
                    <label>Editora</label>
                    <input type="text" data-role="tagsinput" id="editora" name="editora" placeholder="Editora responsável" required="required" value="<%= jogo.editora %>"/>
                   <!-- Fim da Editora Responsavel -->

                    <!-- Site oficial do jogo -->
                    <label>Site oficial</label>
                    <input type="text" class="form-control" id="site" name="site" placeholder="Site oficial do jogo" value="<%= jogo.site %>"/>
                   <!-- Fim do Site oficial do jogo --> 

                    <!-- Site oficial do jogo -->
                    <label>Selecione as categorias do jogo</label>
                    <input type="text" data-role="tagsinput" id="typeahead" name="categoria" placeholder="Selecione as categorias do jogo" required="required"  value="<%= jogo.categoria %>"/> 

                    <!-- Fim do Site oficial do jogo --> 

                    <label>Selecione as Plataformas em que o jogo foi lançado</label>
                    <input type="text" data-role="tagsinput" id="typeahead2" name="plataformas" placeholder="Selecione as plataformas em que o jogo está disponível"   value="<%= jogo.plataformas %>"/> 
                    

                    <!-- Editor de texto da descrição do jogo-->
                    <label><h4 class="widgettitle">Cadastre um conteúdo de descrição para o jogo</h4></label> <textarea  class="ckeditor" name="editor1" id="editor1"><%= jogo.descricao_jogo %></textarea>                    
                    <!-- Fim do  Editor de texto da descrição do jogo-->

                    <!-- Fonte das informações -->
                     <label><h4 class="widgettitle">Caso sua descrição seja conteúdo de terceiros preencha os campos a seguir</h4></label>
                        <label>Nome da fonte de origem do conteúdo</label>
                        <% if (typeof jogo.nome_fonte !== 'undefined'){ %>
                          <% if ( (jogo.nome_fonte !== 'undefined')  && (jogo.nome_fonte !== ' ') ){ %> 
                          <input type="text" class="input-block" id="nome_fonte" name="nome_fonte" placeholder="Nome da Fonte" value="<%= jogo.nome_fonte %>"/> 
                        <%}%>
                        <%} else{ %>
                          <input type="text" class="input-block" id="nome_fonte" name="nome_fonte" placeholder="Nome da Fonte" value=""/>
                        <%}%>
                        
                        <label>Insira o endereço de acesso original do conteúdo</label>
                        <% if (typeof jogo.url_fonte !== 'undefined'){ %>
                          <% if ( (jogo.url_fonte !== 'undefined') && (jogo.url_fonte !== ' ') ) { %>
                          <input type="text" class="input-block-level" id="url_fonte" name="url_fonte" placeholder="URL de destino do conteúdo" value="<%= jogo.url_fonte %>" />
                        <%}%>
                        <%} else{ %>
                          <input type="text" class="input-block-level" id="url_fonte" name="url_fonte" placeholder="URL de destino do conteúdo" value="" />
                        <%}%>  
                    <!-- Fim das informações -->

                    <!-- Botão de Publicar jogo-->
                    <center><button id="SubmitBtn" name="SubmitBtn" type="submit" class="btn btn-large btn-inverse">Editar Jogo</button></center>  
                    <!-- Fim do Botão de Publicar jogo-->

                  </form>
						    </div>
						 </div>         
            </div>

            <div class="span4">

              <ins class="adsbygoogle"
               style="display:inline-block;width:300px;height:250px"
               data-ad-client="ca-pub-0061672681197040"
               data-ad-slot="1898201088"></ins>
              <!-- Mundo Gamer Administrativo -->
            </div>
        </div>
                <!-- Place inside the <head> of your HTML -->


    <script src="/editor/ckeditor.js"></script>
    <script type="text/javascript" src="/admin/js/jquery.min.js"></script> 
    <script type="text/javascript" src="/admin/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/admin/js/bootstrap.min.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="/admin/js/bootstrap-tagsinput.min.js" type="text/javascript"> </script>
    <script type="text/javascript">

        // Adsense
    (adsbygoogle = window.adsbygoogle || []).push({});

      $('#typeahead').tagsinput({
        typeahead: {                  
          source: function(query) {
            return $.get('/mg-admin/loadcategories/', { nome: query});
          }
        }
      });


      $('#typeahead2').tagsinput({
        typeahead: {                  
          source: function(query) {
            return $.get('/mg-admin/loadplataformas/', { nome: query});
          }
        }
      });

          $('#editora').tagsinput({
      typeahead: {                  
        source: function(query) {
          return $.get('/mg-admin/loadempresas/', { nome: query});
        }
      }
    }); 

        $('#desenvolvedor').tagsinput({
      typeahead: {                  
        source: function(query) {
          return $.get('/mg-admin/loadempresas/', { nome: query});
        }
      }
    }); 



    var nome_jogo = $("#nome_jogo");
    var LoginForm = $('#LoginForm');
    var SubmitBtn = $('#SubmitBtn');
 
    LoginForm.validate();
 
    nome_jogo.rules("add", {
      required: true,
      messages: {
        required: "Nome do jogo é obrigatório."
      }
    });
 
    $('#LoginForm').submit(function () {
      if ($(this).valid()) {
        $('#SubmitBtn').prop('disabled', true);
        return true;
      }
      return false;
    });
    
    /*Código de Análise do Google Analitics*/
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-45182358-1', 'mundogamer.com.br');
    ga('send', 'pageview');
    
    
</script>


<% include admin-footer %>      


