<!DOCTYPE html>
<% include admin-header %>
<!-- Script para busca, paginações dos usuários -->
    <script type="text/javascript">
        jQuery(document).ready(function(){
            // dynamic table
            jQuery('#dyntable').dataTable({
                "sPaginationType": "full_numbers",
                "aaSortingFixed": [[0,'asc']],
                "fnDrawCallback": function(oSettings) {
                    jQuery.uniform.update();
                }
            });
            
            
            
        });
    </script>   
                <table class="table table-bordered responsive" id="dyntable">
                    <colgroup>
                        <col class="con0" style="align: center; width: 4%" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <!-- <col class="con1" /> -->
                        <col class="con0" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="head0 nosort"><input type="checkbox" class="checkall" /></th>
                            <th class="head1">Foto</th>
                            <th class="head0">Nome</th>
                            <th class="head1">E-mail de Cadastro</th>
                            <th class="head0">Origem</th>
                            <th class="head1">Cidade</th>
                            <th class="head0">Nível de acesso</th>
                            <!-- <th class="head1">Numero de noticias</th> -->
                            <th class="head1">Ver/Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for(var i=0; i<users.length; i++) {%>
                        <tr class="gradeX">
                            <td class="aligncenter">
                                <span class="center">
                                    <input type="checkbox" />
                                </span>
                            </td>
                            <td class="center"><a href="<%= users[i].facebook.profileUrl %> "target="_blank"><img src='https://graph.facebook.com/<%= users[i].facebook.id %>/picture?type=small' alt='Imagem de perfil'/></a></td>
                            <td class="center"><%= users[i].local.nome %></td>
                            <td class="center"><%= users[i].local.email %></td>
                            <td class="center"><%= users[i].local.origin %></td>
                            <td class="center"><%= users[i].facebook.location %></td>
                            <td class="center"><%= users[i].local.tipo %>
                            <!-- <td class="center"><%= numberPosts %></td> -->
                            <td class="center">
                                <a href="/mg-admin/users/edit/<%=users[i]._id%>" data-toggle="modal" class="btn btn-inverse">
                                    <i class="iconfa-pencil">
                                        
                                    </i>
                                </a>
                            </td>

                        </tr>
                        <% } %>
                    </tbody>
                </table>
<!--                  <ul class="list-nostyle list-inline" align="right">
                    <li><a href="/mg-admin/users/add" class="btn btn-inverse btn-rounded" > <i class=" iconfa-plus"></i>  &nbsp; Novo Usuário</a></li>
                 </ul>    -->             

                    </div><!--span4-->
                </div><!--row-fluid--> 

<% include admin-footer %>    