<!DOCTYPE html>
  <html lang="pt">
    <head>
      <meta charset="utf-8">
      <meta name="description" content="<%= noticia.descricao %>">
      <meta name="keywords" content="videogames, games xbox one, nintendo 3ds games,notícias games, lançamento de games, notícias de jogos, ps4, Xbox, Xbox Live, PSN, Nintendo, news games, games, Wii U, psn games">
      <title><%= noticia.titulo %> | Mundo Gamer</title>
      <meta name="robots" content="index, follow">
      <meta name="language" content="Portuguese">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <!-- Meta do Bing -->
      <meta name="msvalidate.01" content="A5436FA15E86A82C20783D38485927D3">
      <!-- Fim do Bing -->   
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Início do código para TAGS de compartihamento do site no Facebook -->
      <!--para o sistema Open Graph-->
      <meta property="og:site_name" content="Mundo Gamer">
      <meta property="og:title" content="<%= noticia.titulo %> | Mundo Gamer">
      <meta property="og:type" content="article">
      <meta property="og:url" content="http://www.mundogamer.com.br/noticia/<%= noticia.url %>">
      <meta property="og:image" content="http://www.mundogamer.com.br/images/noticia/capa/<%= noticia.id %>">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="650">
      <meta property="og:description" content="<%= noticia.descricao.toString().replace(/<.*?>/g, '')%>">
      <meta property="fb:admins" content="1541352318">
      <meta property="fb:app_id" content="625583237494479">
      <meta property="fb:page_id" content="417660025000594">
      <meta property="article:publisher" content="https://www.facebook.com/brasilmundogamer" />
      <!-- Fim do código para TAGS de compartihamento do site no Facebook -->

      <!-- Loading Bootstrap -->
      <link href="/home/bootstrap/css/bootstrap.css" rel="stylesheet">
      <!-- Loading Flat UI -->
      <link href="/home/css/flat-ui.css" rel="stylesheet">
      <link rel="shortcut icon" href="/images/favicon.ico">

    </head>   

    <% include navbar %>  
    <body onselectstart='return false' ondragstart='return false'> <!--Bloqueia a cópia de conteúdo-->
      <!-- Container -->
      <div class="container">
        <!-- Coluna da noticias -->
        <div class="col-md-9">
          <center>
                 <!-- MundoGamer Blog -->
                 <script type="text/javascript">  
                     google_ad_client = "ca-pub-0061672681197040";  
                     google_ad_slot = "";  
                     if(window.innerWidth >= 800) {  
                      //visible-desktop  
                      //Medium Rectangle  
                      google_ad_slot = "2984023486";  
                      google_ad_width = 728;  
                      google_ad_height = 90;  
                     }  
                     else if((window.innerWidth > 480)&&(window.innerWidth < 800)) {  
                      //visible-tablet  
                      //Square  
                      google_ad_slot = "6709861485";  
                      google_ad_width = 320;  
                      google_ad_height = 100;  
                     }  
                     else if(window.innerWidth <= 480) {  
                      //visible-phone  
                      //Large Rectangle  
                      google_ad_slot = "6709861485";  
                      google_ad_width = 320;  
                      google_ad_height = 100;  
                     }  
                     if(google_ad_slot != "")  
                      document.write(' <scr'+'ipt type=\"text/javascript\" src=\"http://pagead2.googlesyndication.com/pagead/show_ads.js\"></scri'+'pt>');  
                  </script>  
          </center>   

            <!-- Titulo da noticias -->
            <div><center><h4><%= noticia.titulo %></h4></center></div>
            <!-- /. Titulo da noticias -->

            <!-- descrição do autor e botoes compartilha --> 
            <div class="typography-row"> 
              <dl class="palette palette-midnight-blue">
                  <dt>Postado por <%=noticia._criador.local.nome%>
                     <% var d = new Date(noticia.data); 
                        %>no dia <%= ('0' + d.getDate()).slice(-2) + '/' + ('0' + (d.getMonth()+1)).slice(-2) + '/'  + d.getFullYear() %> às <%= ('0' + (d.getHours())).slice(-2) + ':' + ('0' + (d.getMinutes())).slice(-2) %>
                    <!-- <div style="float:right;margin-top:-2px;margin-right:40px" ><i class="fui-eye"></i><%- noticia.views%></div> -->
                  </dt>
              </dl>
          </div><!-- /. descrição do autor e botoes comparilha -->

          <!-- descrição da noticia -->
          <div>
            <p><%- noticia.descricao %></p>
               <% if (typeof noticia.nome_fonte !== 'undefined'){ %>
               <% if ( (noticia.nome_fonte !== 'undefined') && (noticia.nome_fonte !== '') ){ %>
                  <div class="fontetitle">Fonte:</div>
                  <a target="_blank" class="fontecitada" href="<%- noticia.url_fonte %>"><%- noticia.nome_fonte %> </a> 
                  <br>
              <%}%>
            <%}%>

                        <!-- AddToAny BEGIN -->
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style botoescompartilhamento">
              <a class="a2a_button_facebook"></a>
              <a class="a2a_button_twitter"></a>
              <a class="a2a_button_google_plus"></a>
              <a class="a2a_button_whatsapp"></a>
              <a class="a2a_button_linkedin"></a>
            </div>
            <!-- AddToAny END -->

              <center>
              <div class="reporterro">Encontrou algum erro ou gostaria de dar uma sugestão de melhoria?<br> Faça isso <u><a data-toggle="modal" href="#reporterro" >clicando aqui!</a></u> </div>
              </center>
            <br>
          </div> <!-- /.descrição da noticia -->
          <!-- /.descrição da noticia -->

            <!-- Comentários pelo Facebook -->
            <center><div class="fb-comments" data-href="http://mundogamer.com.br/noticia/<%- noticia.id %>" data-width="100%" data-numposts="10" data-colorscheme="light"></div></center> 


              <!-- Popup de contato -->
              <div class="modal fade" id="reporterro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                       <small class="modal-title" id="exampleModalLabel">Envie sua mensagem</small>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="recipient-name" class="control-label">Nome:</label>
                          <input type="text" class="form-control" id="recipient-name">

                          <label for="recipient-name" class="control-label">E-mail:</label>
                          <input type="text" class="form-control" id="recipient-name">

                          <label for="message-text" class="control-label">Mensagem:</label>
                          <textarea class="form-control" id="message-text"></textarea>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                      <button type="button" class="btn btn-primary">Enviar Mensagem</button>
                    </div>
                  </div>
                </div>
              </div>
          <!-- Popup de contato -->
            



          <!-- Sobre Autor -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-02">
              <span class="sr-only">Toggle navigation</span>
            </button>

            <div class="palette palette-midnight-black">Sobre <%=noticia._criador.local.nome%>
                <div class="collapse navbar-collapse" id="navbar-collapse-02" style="float:right;margin-top:-15px;margin-right:40px">
                       <% if (typeof noticia._criador.local.email !== 'undefined'){ %>
                       <a  href="mailto:<%=noticia._criador.local.email%>" id="email" rel="popover"  data-placement="top"><img src="/home/images/footer/email.png" alt="E-mail"height="40" width="40" /></a>
                       <% if ( (noticia._criador.local.user_facebook !== 'undefined') && (noticia._criador.local.user_facebook !== '') ) { %> 
                       <a  href="<%=noticia._criador.local.user_facebook%>" target="_blank" ><img src="/home/images/footer/facebook2.png" alt="Facebook"  height="30" width="30"/></a>
                       <%} if  ( (noticia._criador.local.user_instagram !== 'undefined') && (noticia._criador.local.user_instagram !== '') ){ %>
                       <a  href="<%=noticia._criador.local.user_instagram%>" target="_blank"><img src="/home/images/footer/instagram.png" alt="Instagram"height="30" width="30"/></a>
                       <%} if  ( (noticia._criador.local.user_twitter !== 'undefined') && (noticia._criador.local.user_twitter !== '') ){ %>
                      <a href="<%=noticia._criador.local.user_twitter%>" target="_blank"  ><img  src="/home/images/footer/twitter.png" alt="Twitter" height="30" width="30"></a>
                      <%}  if  ( (noticia._criador.local.user_youtube !== 'undefined') && (noticia._criador.local.user_youtube !== '') ){ %>
                      <a href="<%=noticia._criador.local.user_youtube%>" target="_blank" ><img src="/home/images/footer/youtube2.png" alt="Youtube" height="25" width="25"></a>
                      <%}  if  ( (noticia._criador.local.user_psnid !== 'undefined') && (noticia._criador.local.user_psnid !== '') ){ %>
                      <a href="#" id="psnid" rel="popover"  data-placement="top" title='<center><span class="label label-default">ID na PSN do autor é</span><span class="label label-danger"> <%=noticia._criador.local.user_psnid%></span></center>'><img src="/home/images/footer/psn.png" alt="ID PSN" height="30" width="30"></a>
                      <%}  if  ( (noticia._criador.local.user_xboxlive !== 'undefined') && (noticia._criador.local.user_xboxlive !== '') ){ %>
                      <a href="#" id="xboxlive" rel="popover"  data-placement="top" title='<center><span class="label label-default">Gamertag na Xbox Live do autor é </span><span class="label label-danger"> <%=noticia._criador.local.user_xboxlive%></span></center>'><img src="/home/images/footer/live.png" alt="ID Xbox Live" height="30" width="30"></a>
                      <%}  if  ( (noticia._criador.local.user_nintendoid !== 'undefined') && (noticia._criador.local.user_nintendoid !== '') ){ %>
                      <a href="<%=noticia._criador.local.user_nintendoid%>" id="nintendoid" rel="popover"  data-placement="top" ><img src="/home/images/footer/nintendoid.png" alt="ID Network Nintendo" height="30" width="30"></a>
                      <%} %>
                      <%} %>
             </div>
          </div>


          <div class="palette palette-midnight-blue">  

            <div class="media">
              <a class="pull-left" href="#"><img src='https://graph.facebook.com/<%= noticia._criador.facebook.id %>/picture?type=normal' alt="Perfil de <%=noticia._criador.local.nome%>"/></a>

                <% if (typeof noticia._criador.local.descricao !== 'undefined'){ %>
                    <% if ((noticia._criador.local.descricao == 'undefined') || (noticia._criador.local.descricao == '') ){ %> 
                      O autor ainda não preencheu sua descrição de perfil no Mundo Gamer
                    <%}%>
                <%}%>
                <%- noticia._criador.local.descricao %>
                <br>

            </div>
         </div><!-- /.Sobre Autor -->
       <ul class="media-list">
       <% if((noticiasAutor !== 'undefined') && (noticiasAutor.length > 0)){ 
          for (var i = 0; i < noticiasAutor.length; i++){ %>
                <li class="media">
                <a class="pull-left" href="/noticia/<%=noticiasAutor[i].url%>">
                  <img class="media-object thumbnail border-no" src="/images/noticia/capa/<%=noticiasAutor[i]._id%>" height="100px" width:"150px">
                </a>
                <div class="media-body">
                  <a href="/noticia/<%=noticiasAutor[i].url%>">
                    <quote><%=noticiasAutor[i].titulo%><quote><br>
                    <quote><%=noticiasAutor[i].descricao.toString().replace(/<.*?>/g, '').substr(0,90) %>... ( Leia Mais )<quote>
                    </a>
                </div>
              </li>
              <hr>
          <%}}%>    
      </ul>

        </div>  <!-- /.Coluna da noticias --> 

        <!-- Coluna da direita -->
        <div class="col-md-3">
          <!-- Coluna da direita noticias recentes -->

          <div class="tabbable"> <!-- Only required for left/right tabs -->
                 <dl class="palette palette-red" align="center">
                    <dt>Veja mais notícias</dt>
                 </dl>
                  <ul id="tabs" class="nav nav-tabs nav-justified" role="tablist" data-tabs="tabs">
                      <li class="active"><a href="#tab1" data-toggle="tab">Recentes</a></li>
                      <li><a href="#tab2" data-toggle="tab">Relacionadas</a></li>
                  </ul>
                       <!-- Realiza o tracejado vertical das noticias no canto direito da tela -->
                  <div style="height:300px;" id="barraderolagem">
                    <div class="tab-content noticiaanimator"  >
                        <div class="tab-pane active" id="tab1">
                            <ul class="media-list">
                              <% if((noticiasAutor !== 'undefined') && (noticiasAutor.length > 0)){ 
                                    for (var i = 0; i < noticiasAutor.length; i++){ %>
                                        <li>
                                          <figure>
                                            <img class="listanoticia" src="/images/noticia/capa/<%=noticiasAutor[i]._id%>">
                                                <a href="/noticia/<%=noticiasAutor[i].url%>">
                                                <small><%=noticiasAutor[i].titulo%></small>
                                                <small  style="color:#999">  | Publicada por <%=noticia._criador.local.nome%>
                                                <% var d = new Date(noticiasAutor[i].data); 
                                              %>no dia <%= ('0' + d.getDate()).slice(-2) + '/' + ('0' + (d.getMonth()+1)).slice(-2) + '/'  + d.getFullYear()%> às <%= ('0' + d.getHours()).slice(-2) + ':' + ('0' + (d.getMinutes())).slice(-2) %></small></a>
                                          </figure>
                                       </li>
                                       <hr>
                                    <%}}%> 
                            </ul> 
                        </div>
                        <div class="tab-pane" id="tab2">
                            <p>Funcionalidade em desenvolvimento</p>
                        </div>
                    </div>
                  </div>
                  <br>

                  <!--Coluna da direita Publicidade -->
                  <dl class="palette palette-midnight-blue" align="center">
                      <dt>Parceiro Mundo Gamer</dt>
                  </dl>
                  <div class="noticiaanimator listaparceiro">
                    <% if (typeof noticia.parceiro !== 'undefined'){ %>
                          <% if (noticia.parceiro == 'ClubedaNuna'){ %> 
                            <figure><a href="http://www.clubedanuna.com.br" target="_blank"><img align="center"src="/images/wikigamer/parceiros/logos/5405f9fa51b0210000c039cd" alt="Conheça o Clube da Nuna" ></a></figure>
                          <%} if ( (noticia.parceiro !== 'undefined') && (noticia.parceiro == 'Nintedolátras') ) { %>
                            <figure><a href="http://www.nintedolatras.com.br" target="_blank"><img align="center"src="/images/wikigamer/parceiros/logos/5405eb66a0a7c50000973086" alt="Conheça o Nintedolatras"  ></a></figure>
                            <%} if ( (noticia.parceiro !== 'undefined') && (noticia.parceiro == 'Pechinchador') ) { %> 
                            <figure><a href="http://www.pechinchador.com.br" target="_blank"><img align="center"src="/images/wikigamer/parceiros/logos/551449732ef2a2000086864f" alt="Conheça o Pechinchador" ></a></figure>
                          <%} if ( (noticia.parceiro !== 'undefined') && (noticia.parceiro == 'Player2') ) { %> 
                            <figure><a href="http://www.oplayer2.com.br" target="_blank"><img align="center"src="/images/wikigamer/parceiros/logos/54664d2fe513ba000082ffb3" alt="Conheça o Player 2" ></a></figure>
                          <%} if ( (noticia.parceiro !== 'undefined') && (noticia.parceiro == 'ResidentEvilDatabase') ) { %> 
                           <figure> <a href="http://www.residentevildatabase.com" target="_blank"><img align="center"src="/images/wikigamer/parceiros/logos/54a043c451b5d80000fc0d2a" alt="Conheça o Resident Evil Database"  ></a></figure>
                          <%} if ( (noticia.parceiro !== 'undefined') && (noticia.parceiro == 'JogosIndie') ) { %> 
                            <figure><a href="http://www.jogosindie.com.br" target="_blank"><img align="center"src="/images/wikigamer/parceiros/logos/54ac312b097427000096f0de" alt="Conheça o Jogos Indie" ></a></figure>
                          <%} if ( (noticia.parceiro !== 'undefined') && (noticia.parceiro == 'MundoGamer') ) { %> 
                            <figure><a href="http://www.mundogamer.com.br" target="_blank"><img align="center"src="/images/wikigamer/parceiros/logos/5449f06dbfb99d000082927f" alt="Conheça o Mundo Gamer"></a></figure>
                          <%} if ( (noticia.parceiro !== 'undefined') && (noticia.parceiro == 'X-Nerd') ) { %> 
                            <figure><a href="http://www.xnerd.com.br" target="_blank"><img align="center"src="/images/wikigamer/parceiros/logos/55490a56f088dc000060ed8c" alt="Conheça o X-Nerd" ></a></figure>
                          <%} if ( (noticia.parceiro !== 'undefined') && (noticia.parceiro == 'GlobalGames') ) { %> 
                            <figure><a href="http://www.globalgames.com.br" target="_blank"><img align="center"src="/images/wikigamer/parceiros/logos/554cb78d6e8cfd0000f7074f" alt="Conheça a Global Games" ></a></figure>
                          <%} if ( (noticia.parceiro !== 'undefined') && (noticia.parceiro == 'Action & Comics') ) { %>
                            <figure><a href="http://www.actionsecomics.com.br" target="_blank"><img align="center"src="/images/wikigamer/parceiros/logos/5574e1695b107e0000c9072b" alt="Conheça o Action & Comics"  ></a></figure>
                            <%}%> 
                            <%} else{ %>
                             <figure><a href="http://www.mundogamer.com.br" target="_blank"><img align="center"src="/images/wikigamer/parceiros/logos/5449f06dbfb99d000082927f" alt="Conheça o Mundo Gamer" ></a></figure>
                    <%}%>   
                  </div>  
                  <br>

                <center>
                  <script type="text/javascript">
                    bb_bid = "1702693";
                    bb_lang = "pt-BR";
                    bb_name = "custom";
                    bb_limit = "4";
                    bb_format = "bbm";
                  </script>
                  <script type="text/javascript" src="http://static.boo-box.com/javascripts/embed.js"></script>
              </center>               
          </div><!-- /.Coluna da direita -->
        </div>
      </div><!--container -->
      <br>  

    <!-- Load JS here for greater good =============================-->
       <!-- <script type="text/javascript" src="//conversionsbox.com/cb.js"></script> -->
       <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script src="/home/js/jquery-1.8.3.min.js"></script> 
        <script src="/home/js/bootstrap.min.js"></script>   
        <script src="/home/js/footerfixed.js"></script>
        <script src="/home/js/jquery.slimscroll.js"></script>
        <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
        <script type="text/javascript">

          $('#reporterro').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var modal = $(this)
          modal.find('.modal-title').text('Envie sua mensagem para <%=noticia._criador.local.nome%>')

         });

            /* Barra de rolagem das notícias do sidebar */
            $(function(){
            $('#barraderolagem').slimScroll({
                height: 'auto'
            });
          });


         /* Javascript do campo do Email */
        $('#email').popover({
        html : true,
        trigger : 'manual',
        content : function() {
            return '<div class="box"><center><span class="label label-danger"><%=noticia._criador.local.email%></span></center></div>';
        }
            });
        $(document).on('mouseover', '#email', function(){
            $('#email').popover('show');
        });
        $(document).on('mouseleave', '#email', function(){
            $('#email').popover('hide');
        });

        /* Javascript do campo do ID PSN */
        $('#psnid').popover({
        html : true,
        trigger : 'manual',
        content : function() {
            return '<div class="box"><img src="http://fp.profiles.us.playstation.com/playstation/psn/pid/<%=noticia._criador.local.user_psnid%>.png" width="230" height="155" border="0" /></div>';
        }
            });
        $(document).on('mouseover', '#psnid', function(){
            $('#psnid').popover('show');
        });
        $(document).on('mouseleave', '#psnid', function(){
            $('#psnid').popover('hide');
        });
        /* Javascript do campo do ID Xbox Live */

        $('#xboxlive').popover({
        html : true,
        trigger : 'manual',
        content : function() {
            return '<div class="box"><img src="http://www.xboxlc.com/cards/newblack/<%=noticia._criador.local.user_xboxlive%>.jpg" width="230" height="155" border="0"></div>';
        }
            });
        $(document).on('mouseover', '#xboxlive', function(){
            $('#xboxlive').popover('show');
        });
        $(document).on('mouseleave', '#xboxlive', function(){
            $('#xboxlive').popover('hide');
        });

        /* Javascript do campo do Nintendo Network */
        $('#nintendoid').popover({
        html : true,
        trigger : 'manual',
        content : function() {
            return '<div class="box"><center><span class="label label-default">Meu ID da Nintendo Network é</span><span class="label label-danger"> <%=noticia._criador.local.user_nintendoid%></span></center></div>';
        }
            });
        $(document).on('mouseover', '#nintendoid', function(){
            $('#nintendoid').popover('show');
        });
        $(document).on('mouseleave', '#nintendoid', function(){
            $('#nintendoid').popover('hide');
        });            

          /* Adsense */
          (adsbygoogle = window.adsbygoogle || []).push({});
          /* Fim Adsense */

          $(document).ready(function() {
              $.ajax({
                url: '/noticia/views',
                type: 'POST',
                data: {"id":'<%=noticia._id%>'},
                success: function() {}
              });
         });


          /*ComentáriosFacebook */
          (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=625583237494479&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
          /*ComentáriosFacebook */

          /*Código de Análise do Google Analitics*/
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-45182358-1', 'mundogamer.com.br');
          ga('send', 'pageview');

          /*Javascript da Tab de Notícias Recentes e Relacionadas */
          $(function () {
          $('#myTab a:last').tab('show')
          })

          //Plugin de curtir página no Facebook

          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.3&appId=625583237494479";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

        </script>
    <% include footer %>  
    </body>

  </html>


